/*@import url("./box.css");*/

div {
  font-size: 100px;
}

.box {
  width : 100px;
  height : 100px;
  background-color: orange;
  transition: 1s;
}
 /*동작 제어*/
.box:hover {
  width: 300px;
  background-color: royalblue;
}

.box:active {
  width: 300px;
  background-color: purple;
}

input {
  transition: 1s;
}

input:focus {
  background-color: orange;
}